<div class="parcels">
  <div class="parcel">
    <h3 class="parcelname all">{{totalOrders}}</h3>
    <h4 >Total Orders</h4>
    <p></p>
</div>
<div class="parcel">
  <h3 class="parcelname received">{{receivedOrders}}</h3>
  <h4 class="">Received orders</h4>
  <p></p>
</div>
<div class="parcel">
  <h3 class="parcelname  pending-orders">{{pendingOrders}}</h3>
  <h4 class="">Sent orders</h4>
  <p></p>
</div>
<div class="parcel">
  <h3 class="parcelname cancelled">{{cancelledOrders}}</h3>
  <h4 class="">Cancelled orders</h4>
  <p></p>
</div>

</div>
<app-parcels></app-parcels>