<div ngClass="noparcels">
    <div ngClass="parc">
        <h3>When no parcels!</h3>
    </div>
    <a routerLink=""><button ngClass="btn">Get started</button></a>
</div>
<div class="parcels">
  <div class="parcel">
    <h3 class="parcelname">Name</h3>
    <p>Owner</p>
    <p>Destination</p>
    <button class="pending">Shipping</button>
  </div>
  <div class="parcel">
    <h3 class="parcelname">Name</h3>
    <p>Owner</p>
    <p>Destination</p>
    <button class="delivered">Delivered</button>
  </div>
  <div class="parcel">
    <h3 class="parcelname">Name</h3>
    <p>Owner</p>
    <p>Destination</p>
    <button class="delivered">Delivered</button>
  </div>
  <div class="parcel">
    <h3 class="parcelname">Name</h3>
    <p>Owner</p>
    <p>Destination</p>
    <button class="delivered">Delivered</button>
  </div>
  
  
  
</div>
