<!-- <app-navigation-bar></app-navigation-bar> -->
<app-navbar></app-navbar>
<div class="admin">
  <div class="navigation">
    <div class="navimg">
      <section>
        <img src="../../assets//amos.jpg" alt="" /><span>{{user.name}}</span>
      </section>
    </div>
    <h4>Navigation</h4>
    <a class="speed" routerLink="/user/dashboard"><p>Dashboard</p></a>
    <a routerLink="parcels"><p>Orders</p></a>
  </div>
  <div class="placeholder">
    <router-outlet></router-outlet>
  </div>
</div>