.container {
  /* padding: 1rem; */
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  margin-bottom: 0;
}
.sect1 {
  background-color: #000000;
  padding: 1rem;
  /* display: grid; */
  /* grid-template-columns: auto auto; */
}
.header {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  /* border: 1px solid white; */
}
.logo {
  height: 3rem;
}
.hamberger img {
  height: 3rem;
}
.orderdetails {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  transform: translateY(-10vh);
  background-color: #fff;
  margin-left: 26%;
  color: #6c7293;
  border: 1px solid #6c7293;
  padding: 1rem;
}
.trackingdetails {
  padding: 1rem;
  height: 200px;
  width: 300px;
  border: 1px solid black;
  margin-left: 50%;
  transform: translateY(-116vh);
  background: #fff;
  color: #6c7293;
  border: 1px solid #6c7293;
  /* position: absolute; */
}
.map {
  width: 100vw;
}
iframe {
  margin-bottom: 0rem;
  width: 100%;
  /* position: relative; */
}
h3 {
  color: #000000;
  margin-bottom: 0.7rem;
}
.delivered {
  border: 1px solid #00d05a;
  color: #00d05a;
}
.footer {
  background-color: #000000;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
}
a {
  color: #00d05a;
  font-weight: bold;
}
button {
  width: 5rem;
  height: 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
 hr {
    color: #6c7293;
    opacity: 0.3;
  }
  .image{
    display: flex;
    justify-content: center;
  }
  .image img{
    height: 20rem;
  }
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .logo {
    height: 2rem;
  }
  .logo:hover {
    opacity: 0.8;
  }
  .header {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
  }
  .hamberger {
    display: flex;
    justify-content: flex-end;
    color: white;
  }
  .hamberger img {
    height: 1.8rem;
  }
  .hamberger:hover {
    opacity: 0.8;
  }
  .sect1 {
    background-color: #000000;
  }
  .image {
    width: 100%;
    border-radius: 5px;
  }
  .image img {
    width: 100%;
  }
  .orderdetails,
  .trackingdetails {
    transform: translatey(-15%) !important;
    height: 15rem;
    margin: 0rem 1rem;
    padding: 1rem;
    width: 90%;
    background-color: #fff;
    border: 1px solid #6c7293;
    color: #6c7293;
  }
  .trackingdetails{
    /* position: absolute; */

  }
  h3 {
    color: #000000;
    margin-bottom: 0.7rem;
  }
  hr {
    color: #6c7293;
    opacity: 0.3;
  }
  button {
    width: 5rem;
    height: 1.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
  }
  .delivered {
    border: 1px solid #00d05a;
    color: #00d05a;
  }
  .map {
    width: 100%;
  }
  iframe {
    width: 100%;
    /* position: absolute; */
  }
  .footer {
    background-color: #000000;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  a {
    color: #00d05a;
    font-weight: bold;
  }
}
