<div class="container">
  <div class="sect1">
    <div class="header">
      <div>
        <img class="logo" src="../../assets/sendit.png" alt="" />
      </div>
      <div class="hamberger">
        <img src="../../assets/hamberger.png" alt="hamberger" />
      </div>
    </div>

    <div class="image">
      <img src="../../assets/parcel.png" alt="" />
    </div>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
    <!-- <app-parcels></app-parcels> -->
  </div>
  <!-- <div class="orderdetails">
    <h3>Parcel Details</h3>
    <h4>Name</h4>
    <br />
    <p></p>
    <hr />
    <h4>Adress</h4>
    <p></p>
    <br />
  </div>
  <div class="map">
   
  </div>
  <div class="trackingdetails">
    <h3>Tracking Details</h3>
    <h4>Name</h4>
    <br />
    <p></p>
    <hr />
    <h4>Adress</h4>
    <p></p>
    <br />
    <button class="delivered">Delivered</button>
  </div> -->
  <div class="footer">
      <p>Designed by  <a class="amos" href="https://linktr.ee/4ouR04">Amos Mwongela.</a></p>
      <p>Copyright 2022</p>
  </div>
</div>
