<div class="table">
    <div class="start">
        <p class="clients">Parcel Orders</p>
        <input type="search" placeholder="Search order by status" [(ngModel)]="filterString">
    </div>
  
<table>
   
  <tr>
    <th>Parcel Name</th>
    <th>From</th>
    <th>To</th>
    <th>Destination</th>
    <th>Status</th>
  </tr>
 
  <tr *ngFor="let order of parcels$|async | filter: filterString " (click)="trOnclick(order.id)">
    <td class="photo"><img src="../../../assets/images.png" alt="">{{order.name}}</td>
    <td>{{order.from}}</td>
    <td>{{order.to}}</td>
    <td>{{order.destination}}</td>
    <td><p [ngClass]="{'status': order.status,
      'completed': order.status === 'Delivered',
    'pending': order.status==='Shipping',
  'notassigned': order.status == 'Cancelled'}">{{order.status}}</p></td>
  </tr>

</table>
   <div ngClass="noparcels" *ngIf="parcels.length <= 0">
    <div ngClass="parc">
        <h3>There are no orders!!</h3>
    </div>
    <a routerLink="parcels/new"><button ngClass="btn">Get started</button></a>
    </div>
</div>