<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image img {
      height: 15rem;
    }
  </style>
  <body>
    <div>
      <div class="image">
        <img
          src="  https://www.onlygfx.com/wp-content/uploads/2017/12/cancelled-stamp-4.png"
          alt=""
        />
      </div>
      <div>
        <p>Hello <%=name%>,</p>
        <p>So sad your order has been cancelled.Log in to confirm.</p>
        <p>In SENDIT, you order we deliver!!</p>
      </div>
    </div>
  </body>
</html>
