<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image img{
        height: 15rem;
        width: 100%;
    }
  
</style>
<body>
    <div>
        <div class="image">
            <img src="  https://help.offerup.com/hc/article_attachments/360036150212/itemnotdelivered_notification.png" alt="">
        </div>
        <div>
            <p>Hello <%=name%>,</p>
            <p>Your parcel has been delivered and is ready for pick up.</p>
            <p>In SENDIT, you order we deliver!!</p>
        </div>
    </div>
</body>
</html>