<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transit</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   
</style>
<body>
    <div>
        <div class="image">
            <img src="https://www.saloodo.com/wp-content/uploads/2021/09/transit-time-1.png" alt="">
        </div>
        <div>
            <p>Hello <%=name%>,</p>
            <p>Your parcel is on transit.We will notify your on delivery.</p>
            <p>In SENDIT, you order we deliver!!</p>
        </div>
    </div>
</body>
</html>