<div class="moredetails">
  <form  [formGroup]="parcelAllDetails">
    <div class="headpart">
    <div class="inputsect">
      <label for="">Parcel Name</label>
      <input 
      type="text" 
      readonly
       />
    </div>
    <div class="inputsect">
      <label for="">From</label>
      <input 
      type="text" 
      readonly
       />
    </div>
      <div class="inputsect">
      <label for="">Weight</label>
      <input 
      type="text" 
      readonly
       />
    </div>  <div class="inputsect">
      <label for="">Price</label>
      <input 
      type="text" 
      readonly
       />
    </div>
   
    <div class="inputsect">
      <label for="">Tracking Id</label>
      <input 
      type="text" 
      readonly
      />
      <a>
        <button type="button">Go back</button>
      </a>
    </div>
   
    <div class="inputsect">
      <label for="">Pick up point</label>
      <input 
      type="text"
      readonly
       />
    </div>
    
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d14634.320189204269!2d36.9397226170205!3d-0.4223653202520225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sthejitu!5e0!3m2!1sen!2ske!4v1662313838331!5m2!1sen!2ske"
      width="600"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  </form>
  
</div>
