.table {
  background-color: #191c24;
  /* height: 10rem; */
  margin: 1.5rem;
  color: white;

  border-radius: 5px;
}
.tables {
  padding: 1rem;
}
.start {
  display: flex;
  justify-content: space-between;
}
.start input {
  color: #4c5169;
  border: 1px solid #2c2e33;
  height: 2rem;
  width: 20rem;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 15px;
  background-color: transparent;
}
.noparcels {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  background-color: #9d1969;
  background-color: linear-gradient(to bottom right, #9d1969, #d0145a);
  padding: 0rem 1rem;
  width: 80vw;
  height: 5.5rem;
  /* margin-top: 1rem; */
  border-radius: 7px;
  color: #fff;
  background-image: url(../../../assets/getstarted.png);
  background-position: left;
  background-repeat: no-repeat;
}
.parc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  float: right;
  height: 2.3rem;
  width: 5.5rem;
  border: none;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.6;
}
.clients {
  font-size: 1.2rem;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  font-size: 0.9rem;
  width: 23%;
}

th,
td {
  color: #627293;
  height: 3rem;
  text-align: left;
  border-bottom: 1px solid #2c2e33;
}
th {
  font-size: 16px;
}
tr:hover {
  opacity: 0.7;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white !important;
  border-bottom: none !important;
}
tr:nth-child(1):hover {
  opacity: 1;
  color: initial;
  background-color: initial;
  cursor: initial;
}
img {
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 50%;
}
.photo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.photo img {
  display: none;

  margin-right: 0.5rem;
}
.status {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 2rem;
}
.notassigned {
  border-radius: 5px;
  width: 8rem;
  height: 2rem;
  color: #fc424a !important;
  border: 1px solid #fc424a;
}
.completed {
  color: #00d25b !important;
  /* background-color: #163029; */
  border: 1px solid #00d25b;
}
.pending {
  color: #ffab00;
  border: 1px solid #ffab00;
}
.image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  height: 3.5rem;
  border-radius: 5px 5px 0 0;
  padding: 0 !important;
  opacity: 0.5;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
}
.image img {
  /* padding: 1rem; */
  background-color: whitesmoke;
  margin: 1rem;
  /* border: 1px solid #000000; */
  height: 2rem;
  width: 2rem;
}
.receivedsect {
  background-image: linear-gradient(to left, #00b09b, #96c93d);
}
@media only screen and (max-width: 600px) {
  .table {
    overflow-x: scroll;
  }
  
}
