<div class="container">
  <h3>Parcel Details</h3>
  <div class="subcontainer">
    <div class="details">
      <p>Parcel Name: <span>{{order.name}}</span></p>
      <p>Parcel Status: <span>{{order.status}}</span></p>
      <p>Tracking id: <span>{{order.id}}</span></p>
      <p>Sender Name: <span>{{order.sendername}}</span></p>
      <p>Sender Email: <span>{{order.sender}}</span></p>
      <p>Weight: <span>{{order.weight}}</span></p>
      <p>Price: <span>{{order.price }}</span></p>
      <p>Pickup point: <span>{{order.destination}}</span></p>
      <div>
        <button routerLink="/user/dashboard" class="back" >Back</button> 
       <!-- <a routerLink="update"><button class="update">Update</button></a>  -->
      </div>
    </div>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d14634.320189204269!2d36.9397226170205!3d-0.4223653202520225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sthejitu!5e0!3m2!1sen!2ske!4v1662313838331!5m2!1sen!2ske"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
