<app-navigation-bar></app-navigation-bar>

<div class="admin">
  <div class="navigation">
    <div class="navimg">
      <section>
        <img src="../../assets/images.png" alt="" /><span>Amos Mwongela</span>
      </section>
    </div>
    <h4>Navigation</h4>
    <a class="speed" routerLink="/admin/dashboard"><p>Dashboard</p></a>
    <a routerLink="parcels"><p>Parcels</p></a>
    <a routerLink="clients"><p>Clients</p></a>
    <a routerLink="pickups"><p>Pickup stations</p></a>
  </div>
  <div class="placeholder">
    <router-outlet></router-outlet>
    
  </div>
</div>
