.container {
  margin: 1.5rem;
  border-radius: 5px;
}
.form {
  background-color: #191c24;
}
.realform {
  padding: 1rem;
}
form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  flex-direction: column;
}
h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}
input:last-child {
  margin-top: 0rem;
}
input {
  border: none;
  height: 2.4rem;
  background-color: transparent;
  color: #6c7293;
  margin-bottom: 1.3rem;
  border: 1px solid #2c2e33;
  padding: 0.5rem;
}

select {
  padding: 0.5rem;
  border: 1px solid #2c2e33;
  color: #6c7293;
  margin-bottom: 1.3rem;
  height: 2.4rem;
  background-color: transparent;
}
button {
  border: none;
  border-radius: 5px;
  height: 2.3rem;
  color: #fff;
  background-color: #0090e7;
}
.clients {
  background-color: #191c24;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients img {
  height: 15rem;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  /* margin: 10px; */
  /* padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  /* border-radius: 10px; */
  display: block;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.image {
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 5px 5px 0 0;
  height: 3rem;
  opacity: .6;
}
.image img {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .clients {
    margin-left: 0;
  }
  .clients img {
    height: 10rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
