.container {
  display: grid;
  grid-template-columns: 2.3fr 3fr;
  margin: 1.5rem;
  border-radius: 5px;
}
.form {
  background-color: #191c24;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
h3{
    color: #fff;
    margin-bottom: 0.5rem;
}
input:first-child{
    margin-top: 1rem;
}
input {
    border: none;
  height: 2.4rem;
  background-color: transparent;
  color: #6c7293;
  margin-bottom: 1.3rem;
  border: 1px solid #2c2e33;
  padding: 0.5rem;
}

select {
  padding: 0.5rem;
  border: 1px solid #2c2e33;
  color: #6c7293;
  margin-bottom: 1.3rem;
  height: 2.4rem;
  background-color: transparent;
}
button {
  border: none;
  border-radius: 5px;
  height: 2rem;
  color: #fff;
  background-color: #0090e7;
}
.clients {
  background-color: #191c24;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients img{
    height: 15rem;
}
@media only screen and (max-width: 600px) {
  .container{
    display: block;
  }
  .clients{
    margin-left: 0;
  }
  .clients img{
    height: 10rem;
  }
}